#root {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #D02090, #4B0082) center/cover;
}
body.dark {
  background: black;
  color: white;
}
.card{
  position: relative;
  background-color: #18181813;
  box-sizing: border-box;
  padding: 10px;
  width: 210px;
  height: 260px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 2s ease;
}
  section{
    display: flex;
    justify-content: center;
  }
  .card_image{
    width:170px;
    height: 170px;
    border-radius: 50%;
    object-fit:cover;
    overflow: hidden;
  }
  .card_details{
    padding-left: 10px;
    margin-top: 15px;

  }
    b{
      margin-top: 5px;
      
    }
  .start_icon{
    position: absolute;
    visibility: hidden;
    font-size: 50px;
    right: 20px;
    bottom: 80px;
    fill: green;
    font-size: 45px;
  }
  
.card:hover{
  background-color: #1d1c1d49;
}
.card:hover .start_icon{
  visibility: visible;
 
}


.selectedArtist_main_box {
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 150px;
}

.selectedArtist_main_box .music_player {
  height: 400px;
  object-fit: cover;
  background-repeat: repeat-x;
  position: relative;
  border-radius: 10px;
}

.selectedArtist_main_box .music_player .artist_name {
  font-size: 5rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 20px;
  padding-left: 10px;
}

.selectedArtist_main_box .music_player .artist_name .artist_follower {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 600;
}

.selectedArtist_main_box .music_player .artist_name .artist_follower .verified {
  display: flex;
  align-items: center;
  gap: 5px;
}

.song_track {
  height: 80px;
  display: grid;
  grid-template-columns: 2fr 6fr;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: content-box;
  padding-left: 10px;
}

.song_track .track_name {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.song_track .song_image {
  width: 60px;
  height: 60px;
}

.song_track .details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.song_track .play_duration {
  visibility: hidden;
  font-size: 20px;
  margin-left: 20px;
  fill: rgba(0, 69, 101, 0.966);
}

.song_track:hover {
  background-color: #36163681;
}

.song_track:hover .play_duration {
  visibility: visible;
}



@media (min-width: 368px) and (max-width: 1024px) {
  .selectedArtist_main_box {
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 200px;
  }
 
}

